<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Crowdsourcing: <em>Where opportunities meet every day.</a></em></h2>
						<a href="#" class="button">Learn More</a>
					</header>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row 200%">
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									<i class="icon major fa-paper-plane"></i>
									<h3>Credibility</h3>
									<p>The quality of being trusted and believed in.There should be no effort, consciously or otherwise, 
									that will lead to the erosion of institutional credibility and authority.</p>
								</div>
							</section>
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									<i class="icon major fa-pencil"></i>
									<h3>Hard Work</h3>
									<p>The price of success is hard work, dedication to the job at hand, 
									and the determination that whether we win or lose, we have applied the best of ourselves to the task at hand.</p>
								</div>
							</section>
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									<i class="icon major fa-wrench"></i>
									<h3>Skill</h3>
									<p>Communication is a skill that you can learn. It's like riding a bicycle or typing. 
									If you're willing to work at it, you can rapidly improve the quality of evry part of your life.</p>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							<h2>Crowdsourcing</h2>
							<p>The needed services, ideas, or content by soliciting contributions from a large group of people, 
							and especially from an online community, rather than from traditional employees or suppliers.</p>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="#" class="image left"><img src="resources/img/pic01.jpg" alt="" /></a>
									<div class="inner">
										<h3>Mark Brown</h3>
										<p>Senior lead architect, Completed 120 project with end to end handover of project modules, continues support </p>
									</div>
								</div>
							</section>
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="#" class="image left"><img src="resources/img/pic02.jpg" alt="" /></a>
									<div class="inner">
										<h3>Joe Raginar</h3>
										<p>Dedicated, passionate and hard working for house hold activities, Available 24 X 7 , location Boston ,USA</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="#" class="image left"><img src="resources/img/pic03.jpg" alt="" /></a>
									<div class="inner">
										<h3>Rock lancern</h3>
										<p>Dedicated, passionate and hard working for house hold activities, Available 24 X 7 , location Boston ,USA</p>
									</div>
								</div>
							</section>
							<section class="6u 12u(narrower)">
								<div class="box post">
									<a href="#" class="image left"><img src="resources/img/pic04.jpg" alt="" /></a>
									<div class="inner">
										<h3>Marry Grey</h3>
										<p>Professional baby sitter</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Are you ready to continue your quest?</h2>
							<a href="#" class="button">Join</a>
						</header>
					</div>
				</section>