<div class="row">
    <section class="12u 12u(narrower)" >
	<h3 style="text-align: center;">Login</h3>
	<form action="validate" style="margin: 20px;" method="post">
		<div class="row">
			<div class="12u">
				<label class="radio-inline"><input type="radio"
					name="userType"  value="client">Client</label>
				<label class="radio-inline"><input type="radio"
					name="userType" value="worker">Worker</label>
			</div>
			<div class="12u">
				<input type="email" name="email" id="email" placeholder="Email" />
			</div>
			<div class="12u">
				<input type="text" name="password" id="password" placeholder="Password" />
			</div>
		</div>
		<div class="row">
			<div class="12u">
				<ul class="actions pull-right">
					<li><input type="submit" class="button alt" value="Login" /></li>
				</ul>
			</div>
		</div>
	</form>
</section>
</div>